html{
	height: 100%;
	overflow-y: auto
}

body{
	width: 100%;
  overflow-x: hidden;
  color: #341e00;
  font-family: Arial,Helvetica,sans-serif;
}
#app{
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
}
#app .wrapper{
  width:750px
  overflow: hidden;
  margin: 0 auto;
  min-height:200px;
}
img {
  content: normal !important;
}
